:root {
  --primary: #621708;
  --secondary: #BC3908;
  --tertiary: #F6AA1C;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--secondary);
  font-family: 'Neuton', serif;
}

/*header-nav*/
header {
  padding: 20px 0;
  background: var(--primary);
  display: flex;
  align-items: center;
  font-family: 'Neuton', serif;
}
.nav-title {
  float: left;
  font-size: 50px;
  padding: 0 10px;
}
.nav-title a {
  color: var(--tertiary);
  text-decoration: none;
  letter-spacing: 3px;
}
nav {
  overflow: hidden;
  width: 100%;
  text-align: right;
}
.nav-item {
  display: inline;
  margin: 0 10px;
  text-align: center;
}
.nav-item a {
  text-decoration: none;
  padding: 0 10px;
  color: var(--tertiary);
  font-size: 20px;
}

/*our story*/
.hero {
  /* background-image: url('./assets/img/hero.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 300px;
}
.hero-body {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.7);
}
.hero-body p {
  font-size: 52px;
  width: 50%;
  margin: 0 auto;
  color: black;
  text-align: center;
}
.hero-body button {
  width: 50%;
  border: none;
  padding: 10px 15px;
  margin: 5px auto;

}

.about-us {
  display: flex;
  background: white;
}
.content-title {
  font-size: 45px;
  padding: 30px 0;
  text-align: center;
  color: var(--primary);
}
.left-about {
  /* background-image: url('./assets/img/about-img.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 25%;
  margin: 20px;
  padding: 250px;
  border-radius: 5px;
}
.right-about {
  margin: 20px;
  padding: 20px;
  font-size: 27px;
  line-height: 2;
  color: var(--primary);
  background: var(--tertiary);
  border-radius: 5px;
}

.parallax {
  /* background-image: url('./assets/img/parallax.jpg'); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 150px;
}


/*sign up*/
.form-wrapper {
  background: white;
  padding: 50px;
  width: 50%;
  margin: 50px auto;
  border-radius: 5px;
}
form {
  text-align: center;
  margin: 25px 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.form-row {
  margin: 5px;
}
label {
  font-size: 25px;
  text-align: lefr;
}
input {
  border: none;
  border-bottom: thin solid black;
  margin: 0 10px;
  padding: 5px;
  width: 50%;
}
.form-row input:focus {
  border: none;
  outline: none;
  border-bottom: thin solid var(--secondary);
}
.form-row input:active {
  border: none;
  border-bottom: thin solid var(--secondary);
}
.form-row button {

}

/*footer*/
footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  background: #621708;
  color: #F6AA1C;
}
.footer-title {
  font-size: 20px;
}
.left-footer {
  flex: 10%;
  padding: 0 25px;
}
.left-footer a {
  text-decoration: none;
  color: #F6AA1C;
}
.right-footer {
  flex: 90%;
  text-align: right;
  padding: 0 25px;
}
.right-footer a {
  font-size: 30px;
  margin: 0 0 0 20px;
  color: #F6AA1C;
}



/*figure these out*/
button[disabled] {
  cursor: default;
  opacity: .8;
}

span[role="img"] {
  cursor: default;
}

